/*
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo\ nuevo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250vh; 
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
}
header h1{
    text-align: center;
    }
    