$colores: (
$verdegris: darkslategrey,
$azul: aliceblue,
$verdeclaro: darkseagreen,
$verdeoscuro: darkgreen,
$blanco: white,
$negro: black,
)
$margin (
 $header-left: 5%,
 $header-right: 5%,
 $header-top: 2%,
 $inicio-bottom: 1%,
 $h1-right: 20%,
 $sub-img-right: 50px,
 $sub-img-top: 50px,

)
$medidas (
$logo-width: 136px,
$inicio-width: 100%,
$inicio-height: 200%,
$main-heigh: 100vh,
)
$size (
$font-reseña: 20px, 
$font-h2: 26px,
)


